/*Import Mixins*/
/*prevent loading transitioning*/
.preload * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
}
/*reset*/
input:focus,
textarea:focus {
  outline: none;
}
input,
textarea,
select {
  -webkit-appearance: none;
  box-shadow: none !important;
  outline: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-transition: "color 9999s ease-out, background-color 9999s ease-out";
  -webkit-transition-delay: 9999s;
}
div,
span,
h1,
h2,
h3,
h4,
p,
ul,
li,
a,
form,
::before,
::after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
  /*
    -webkit-user-select: none;       
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    */
  margin: 0;
  padding: 0;
}
button {
  font-family: "robotoregular", Arial;
  border: none;
  background: none;
  -webkit-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -kthtml-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  outline: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  cursor: pointer;
}
span {
  color: #fff;
}
h1,
h2,
h3,
h4 {
  font-family: "robotobold", Arial;
  font-weight: 600;
  color: #fff;
}
p,
li,
a {
  font-family: "robotoregular", Arial;
  color: #fff;
}
ul,
li {
  list-style: none;
  list-style-type: none;
}
a {
  outline: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -kthtml-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  margin: 0;
  padding: 0;
  text-decoration: none;
  -webkit-backface-visibility: hidden;
  -webkit-tap-highlight-color: transparent;
}
/*scrollbar*/
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #000;
  border: 0px none #ffffff;
  border-radius: 0;
}
::-webkit-scrollbar-thumb:hover {
  background: #000;
}
::-webkit-scrollbar-thumb:active {
  background: #000000;
}
::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.05);
  border: 0px none #ffffff;
  border-radius: 0;
}
::-webkit-scrollbar-track:hover {
  background: rgba(0, 0, 0, 0.1);
}
::-webkit-scrollbar-track:active {
  background: rgba(0, 0, 0, 0.1);
}
::-webkit-scrollbar-corner {
  background: transparent;
}
/*animation*/
@-moz-keyframes fade {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes fade {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-moz-keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-moz-keyframes rotate_loader {
  0% {
    transform: rotate(0deg) scale(0.8);
  }
  50% {
    transform: rotate(180deg) scale(0.8);
  }
  100% {
    transform: rotate(360deg) scale(0.8);
  }
}
@-webkit-keyframes rotate_loader {
  0% {
    transform: rotate(0deg) scale(0.8);
  }
  50% {
    transform: rotate(180deg) scale(0.8);
  }
  100% {
    transform: rotate(360deg) scale(0.8);
  }
}
@keyframes rotate_loader {
  0% {
    transform: rotate(0deg) scale(0.8);
  }
  50% {
    transform: rotate(180deg) scale(0.8);
  }
  100% {
    transform: rotate(360deg) scale(0.8);
  }
}
@-moz-keyframes menu_arrow {
  0%,
  20%,
  50%,
  80%,
  100% {
    -webkit-transform: translateX(0) translateY(0) translateZ(0);
    -ms-transform: translateX(0) translateY(0) translateZ(0);
    transform: translateX(0) translateY(0) translateZ(0);
  }
  40% {
    -webkit-transform: translateX(0) translateY(-30px) translateZ(0);
    -ms-transform: translateX(0) translateY(-30px) translateZ(0);
    transform: translateX(0) translateY(-30px) translateZ(0);
  }
  60% {
    -webkit-transform: translateX(0) translateY(-15px) translateZ(0);
    -ms-transform: translateX(0) translateY(-15px) translateZ(0);
    transform: translateX(0) translateY(-15px) translateZ(0);
  }
}
@-webkit-keyframes menu_arrow {
  0%,
  20%,
  50%,
  80%,
  100% {
    -webkit-transform: translateX(0) translateY(0) translateZ(0);
    -ms-transform: translateX(0) translateY(0) translateZ(0);
    transform: translateX(0) translateY(0) translateZ(0);
  }
  40% {
    -webkit-transform: translateX(0) translateY(-30px) translateZ(0);
    -ms-transform: translateX(0) translateY(-30px) translateZ(0);
    transform: translateX(0) translateY(-30px) translateZ(0);
  }
  60% {
    -webkit-transform: translateX(0) translateY(-15px) translateZ(0);
    -ms-transform: translateX(0) translateY(-15px) translateZ(0);
    transform: translateX(0) translateY(-15px) translateZ(0);
  }
}
@keyframes menu_arrow {
  0%,
  20%,
  50%,
  80%,
  100% {
    -webkit-transform: translateX(0) translateY(0) translateZ(0);
    -ms-transform: translateX(0) translateY(0) translateZ(0);
    transform: translateX(0) translateY(0) translateZ(0);
  }
  40% {
    -webkit-transform: translateX(0) translateY(-30px) translateZ(0);
    -ms-transform: translateX(0) translateY(-30px) translateZ(0);
    transform: translateX(0) translateY(-30px) translateZ(0);
  }
  60% {
    -webkit-transform: translateX(0) translateY(-15px) translateZ(0);
    -ms-transform: translateX(0) translateY(-15px) translateZ(0);
    transform: translateX(0) translateY(-15px) translateZ(0);
  }
}
@-moz-keyframes loader_outline {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  50% {
    opacity: 1;
    transform: scale(0.7);
  }
  100% {
    opacity: 0;
    transform: scale(0.8);
  }
}
@-webkit-keyframes loader_outline {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  50% {
    opacity: 1;
    transform: scale(0.7);
  }
  100% {
    opacity: 0;
    transform: scale(0.8);
  }
}
@keyframes loader_outline {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  50% {
    opacity: 1;
    transform: scale(0.7);
  }
  100% {
    opacity: 0;
    transform: scale(0.8);
  }
}
@-moz-keyframes spin90 {
  100% {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
  }
}
@-webkit-keyframes spin90 {
  100% {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
  }
}
@keyframes spin90 {
  100% {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
  }
}
@-moz-keyframes bubble {
  30% {
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
    background: rgba(255, 255, 255, 0.2);
  }
  100% {
    -webkit-transform: scale(1.4);
    -ms-transform: scale(1.4);
    transform: scale(1.4);
    background: rgba(255, 255, 255, 0);
  }
}
@-webkit-keyframes bubble {
  30% {
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
    background: rgba(255, 255, 255, 0.2);
  }
  100% {
    -webkit-transform: scale(1.4);
    -ms-transform: scale(1.4);
    transform: scale(1.4);
    background: rgba(255, 255, 255, 0);
  }
}
@keyframes bubble {
  30% {
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
    background: rgba(255, 255, 255, 0.2);
  }
  100% {
    -webkit-transform: scale(1.4);
    -ms-transform: scale(1.4);
    transform: scale(1.4);
    background: rgba(255, 255, 255, 0);
  }
}
@-moz-keyframes mline {
  0% {
    width: 0%;
    left: 50%;
  }
  30% {
    width: 80%;
    left: 10%;
  }
  100% {
    width: 100%;
    left: 0%;
  }
}
@-webkit-keyframes mline {
  0% {
    width: 0%;
    left: 50%;
  }
  30% {
    width: 80%;
    left: 10%;
  }
  100% {
    width: 100%;
    left: 0%;
  }
}
@keyframes mline {
  0% {
    width: 0%;
    left: 50%;
  }
  30% {
    width: 80%;
    left: 10%;
  }
  100% {
    width: 100%;
    left: 0%;
  }
}
@-moz-keyframes menu_bump {
  0% {
    -webkit-transform: translateX(0) translateY(-20px) translateZ(0);
    -ms-transform: translateX(0) translateY(-20px) translateZ(0);
    transform: translateX(0) translateY(-20px) translateZ(0);
    -moz-opacity: 0;
    -khtml-opacity: 0;
    -webkit-opacity: 0;
    opacity: 0;
  }
  30% {
    -webkit-transform: translateX(0) translateY(0px) translateZ(0);
    -ms-transform: translateX(0) translateY(0px) translateZ(0);
    transform: translateX(0) translateY(0px) translateZ(0);
    -moz-opacity: 1;
    -khtml-opacity: 1;
    -webkit-opacity: 1;
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(0) translateY(-20px) translateZ(0);
    -ms-transform: translateX(0) translateY(-20px) translateZ(0);
    transform: translateX(0) translateY(-20px) translateZ(0);
    -moz-opacity: 1;
    -khtml-opacity: 1;
    -webkit-opacity: 1;
    opacity: 1;
  }
}
@-webkit-keyframes menu_bump {
  0% {
    -webkit-transform: translateX(0) translateY(-20px) translateZ(0);
    -ms-transform: translateX(0) translateY(-20px) translateZ(0);
    transform: translateX(0) translateY(-20px) translateZ(0);
    -moz-opacity: 0;
    -khtml-opacity: 0;
    -webkit-opacity: 0;
    opacity: 0;
  }
  30% {
    -webkit-transform: translateX(0) translateY(0px) translateZ(0);
    -ms-transform: translateX(0) translateY(0px) translateZ(0);
    transform: translateX(0) translateY(0px) translateZ(0);
    -moz-opacity: 1;
    -khtml-opacity: 1;
    -webkit-opacity: 1;
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(0) translateY(-20px) translateZ(0);
    -ms-transform: translateX(0) translateY(-20px) translateZ(0);
    transform: translateX(0) translateY(-20px) translateZ(0);
    -moz-opacity: 1;
    -khtml-opacity: 1;
    -webkit-opacity: 1;
    opacity: 1;
  }
}
@keyframes menu_bump {
  0% {
    -webkit-transform: translateX(0) translateY(-20px) translateZ(0);
    -ms-transform: translateX(0) translateY(-20px) translateZ(0);
    transform: translateX(0) translateY(-20px) translateZ(0);
    -moz-opacity: 0;
    -khtml-opacity: 0;
    -webkit-opacity: 0;
    opacity: 0;
  }
  30% {
    -webkit-transform: translateX(0) translateY(0px) translateZ(0);
    -ms-transform: translateX(0) translateY(0px) translateZ(0);
    transform: translateX(0) translateY(0px) translateZ(0);
    -moz-opacity: 1;
    -khtml-opacity: 1;
    -webkit-opacity: 1;
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(0) translateY(-20px) translateZ(0);
    -ms-transform: translateX(0) translateY(-20px) translateZ(0);
    transform: translateX(0) translateY(-20px) translateZ(0);
    -moz-opacity: 1;
    -khtml-opacity: 1;
    -webkit-opacity: 1;
    opacity: 1;
  }
}
/*content*/
/*body*/
body,
html {
  margin: 0px;
  padding: 0px;
  background-color: #13131D;
  overflow: hidden;
}
@font-face {
  font-family: 'icomoon';
  src: url('/fonts/ico/icomoon.eot?uoc7m8');
  src: url('/fonts/ico/icomoon.eot?uoc7m8#iefix') format('embedded-opentype'), url('/fonts/ico/icomoon.ttf?uoc7m8') format('truetype'), url('/fonts/ico/icomoon.woff?uoc7m8') format('woff'), url('/fonts/ico/icomoon.svg?uoc7m8#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/*iscroll*/
#main-scroll {
  position: absolute;
  top: 64px;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
}
.scroll_wrap {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
}
.scroll_wrap .scroll_content {
  float: left;
  width: 100%;
  min-height: 100%;
}
.scroll_r_explore {
  padding: 20px;
}
.iScrollIndicator {
  border: none !important;
  background: rgba(255, 255, 255, 0.2) !important;
}
.iScrollIndicator:hover {
  background: rgba(225, 225, 225, 0.7) !important;
}
.iScrollVerticalScrollbar.iScrollLoneScrollbar {
  right: 2px !important;
}
/*frame asset loader*/
iframe#asset-loader {
  visibility: hidden;
  display: none;
}
/*view*/
.view_content {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 2;
  -webkit-transition: all 0.6s ease-out;
  -o-transition: all 0.6s ease-out;
  -moz-transition: all 0.6s ease-out;
  -ms-transition: all 0.6s ease-out;
  -kthtml-transition: all 0.6s ease-out;
  transition: all 0.6s ease-out;
}
/*main*/
.main_container {
  float: left;
  display: block;
  width: 100%;
  position: relative;
  z-index: 2;
  -webkit-transition: all 0.6s ease-out;
  -o-transition: all 0.6s ease-out;
  -moz-transition: all 0.6s ease-out;
  -ms-transition: all 0.6s ease-out;
  -kthtml-transition: all 0.6s ease-out;
  transition: all 0.6s ease-out;
}
.main_container {
  display: table;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  float: none;
}
.container_content {
  display: block;
  width: auto;
  height: auto;
  clear: both;
  vertical-align: top;
  position: relative;
}
.container_content {
  display: table-cell;
  width: 100%;
  height: 100%;
}
/*loaders*/
/*view loader*/
.view_loader {
  display: table !important;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 2500;
  background: rgba(19, 19, 29, 0.83);
}
.view_section_container .view_loader {
  display: block !important;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(19, 19, 29, 0.93);
}
.view_section_container .view_loader_container {
  display: block;
}
.view_loader.deactive {
  background: rgba(19, 19, 29, 0);
}
.view_loader_container {
  display: table-cell;
  height: 100%;
  vertical-align: middle;
  width: 100%;
  overflow: hidden;
}
@-webkit-keyframes scaleIn {
  from {
    -webkit-transform: scale(0.5);
  }
  to {
    -webkit-transform: scale(1);
  }
}
@keyframes scaleIn {
  from {
    transform: scale(0.5);
  }
  to {
    transform: scale(1);
  }
}
@-webkit-keyframes scaleOut {
  0% {
    -webkit-transform: scale(1);
    opacity: 1;
  }
  30% {
    -webkit-transform: scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(0.5);
    opacity: 0;
  }
}
@keyframes scaleOut {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0.5);
    opacity: 0;
  }
}
.view_loader .big_spin {
  -webkit-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  -ms-transition: all 0.4s ease-out;
  -kthtml-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}
.view_loader.deactive .big_spin {
  -moz-opacity: 0;
  -khtml-opacity: 0;
  -webkit-opacity: 0;
  opacity: 0;
  -webkit-transform: scale(0.5);
  -ms-transform: scale(0.5);
  transform: scale(0.5);
}
/*big spinner*/
.big_spin {
  display: block;
  margin: 20px auto;
  height: 120px;
  width: 120px;
  margin: 0 auto;
  position: relative;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -kthtml-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.window_inner .big_spin {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -moz-opacity: 0;
  -khtml-opacity: 0;
  opacity: 0;
}
.modal_slide-down .window_inner .big_spin {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  -moz-opacity: 1;
  -khtml-opacity: 1;
  opacity: 1;
}
.big_spin_inner {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  margin: 35px;
  width: 50px;
  height: 50px;
  -webkit-transform: scale(0.2);
  -ms-transform: scale(0.2);
  transform: scale(0.2);
  -webkit-animation: rotate_loader 0.8s infinite linear;
  -moz-animation: rotate_loader 0.8s infinite linear;
  animation: rotate_loader 0.8s infinite linear;
  border: 6px solid #FF673B;
  border-right-color: transparent;
  border-radius: 50%;
}
.big_spin_outer {
  content: "";
  position: absolute;
  top: -30px;
  left: -30px;
  display: block;
  margin: 30px;
  width: 120px;
  height: 120px;
  -webkit-transform: scale(0.5);
  -ms-transform: scale(0.5);
  transform: scale(0.5);
  transform-style: preserve-3d;
  -webkit-animation: loader_outline 1.4s infinite linear;
  -moz-animation: loader_outline 1.4s infinite linear;
  animation: loader_outline 1.4s infinite linear;
  border: 2px solid #3f2cb9;
  border-radius: 50%;
  box-shadow: 0px 0px 20px rgba(63, 44, 185, 0.3);
}
/*menus*/
/*top menu*/
.top_menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 3004;
  height: 64px;
  -moz-opacity: 0;
  -khtml-opacity: 0;
  -webkit-opacity: 0;
  opacity: 0;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -kthtml-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.top_menu.is_scrolled,
.top_menu.top_menu_lgd {
  /*background-color: #3b3363;*/
  background-color: #30303c;
}
.top_menu ul.menu-right:last-child {
  display: none;
}
.top_menu ul li {
  display: table-cell;
  position: relative;
}
.top_menu ul li a {
  margin-top: 14px;
  text-decoration: none;
}
/*ogl menu icon*/
.ogl_icon {
  position: absolute;
  top: 14px;
  left: 66px;
  -webkit-transform: translateX(-10px) translateY(0) translateZ(0);
  -ms-transform: translateX(-10px) translateY(0) translateZ(0);
  transform: translateX(-10px) translateY(0) translateZ(0);
  -moz-opacity: 0;
  -khtml-opacity: 0;
  -webkit-opacity: 0;
  opacity: 0;
  -webkit-transition: all 0.8s ease-out;
  -o-transition: all 0.8s ease-out;
  -moz-transition: all 0.8s ease-out;
  -ms-transition: all 0.8s ease-out;
  -kthtml-transition: all 0.8s ease-out;
  transition: all 0.8s ease-out;
  -webkit-transition-delay: 0.1s;
  -moz-transition-delay: 0.1s;
  -o-transition-delay: 0.1s;
  transition-delay: 0.1s;
}
.fade_in .ogl_icon {
  -webkit-transform: translateX(0px) translateY(0) translateZ(0);
  -ms-transform: translateX(0px) translateY(0) translateZ(0);
  transform: translateX(0px) translateY(0) translateZ(0);
  -moz-opacity: 1;
  -khtml-opacity: 1;
  -webkit-opacity: 1;
  opacity: 1;
}
.ogl_icon a,
.ogl_icon a svg,
.ogl_icon a:after {
  width: 89px;
  height: 36px;
}
.ogl_icon a {
  display: block;
  overflow: hidden;
}
.ogl_icon a:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.ogl_icon a:hover {
  -moz-opacity: 0.8;
  -khtml-opacity: 0.8;
  -webkit-opacity: 0.8;
  opacity: 0.8;
}
/*main menu controller*/
ul.main_menu_toggle {
  position: fixed;
  top: 4px;
  left: 4px;
  z-index: 3006;
  -moz-opacity: 0;
  -khtml-opacity: 0;
  -webkit-opacity: 0;
  opacity: 0;
  -webkit-transition: all 1.2s ease-out;
  -o-transition: all 1.2s ease-out;
  -moz-transition: all 1.2s ease-out;
  -ms-transition: all 1.2s ease-out;
  -kthtml-transition: all 1.2s ease-out;
  transition: all 1.2s ease-out;
}
ul.main_menu_toggle.fade {
  -moz-opacity: 1;
  -khtml-opacity: 1;
  -webkit-opacity: 1;
  opacity: 1;
}
ul.main_menu_toggle > li:first-child {
  display: block;
  float: left;
  clear: both;
  width: 60px;
}
ul.main_menu_toggle > li:first-child > a {
  display: block;
  position: relative;
  width: 56px;
  height: 56px;
  z-index: 3006;
  border: 1px solid rgba(101, 101, 101, 0);
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -kthtml-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s cubic-bezier(0.42, 0.27, 0.25, 0.98);
  transition: all 0.4s cubic-bezier(0.42, 0.27, 0.25, 0.98);
}
ul.main_menu_toggle > li:first-child > a::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
}
ul.main_menu_toggle > li:first-child > a span {
  content: "";
  position: absolute;
  display: block;
  height: 8px;
  width: 8px;
  background-color: #fff;
  -webkit-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -kthtml-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
ul.main_menu_toggle > li:first-child > a span.x_sq {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 54px;
  height: 54px;
  background: none;
  content: normal;
}
ul.main_menu_toggle > li:first-child > a span.x_sq .x_sq_c {
  position: relative;
  width: 54px;
  height: 54px;
  background: none;
  content: normal;
}
.is-desk ul.main_menu_toggle > li:first-child > a:hover.active span.x_sq .x_sq_c span {
  background-color: #ED5124;
}
ul.main_menu_toggle > li:first-child > a.active span.x_sq .x_sq_c {
  -ms-transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
}
ul.main_menu_toggle > li:first-child > a span.x_sq .x_sq_c span:nth-child(1) {
  top: 11px;
  left: 23px;
}
ul.main_menu_toggle > li:first-child > a span.x_sq .x_sq_c span:nth-child(2) {
  top: 23px;
  left: 11px;
}
ul.main_menu_toggle > li:first-child > a span.x_sq .x_sq_c span:nth-child(3) {
  top: 23px;
  left: 23px;
}
ul.main_menu_toggle > li:first-child > a span.x_sq .x_sq_c span:nth-child(4) {
  top: 23px;
  left: 35px;
}
ul.main_menu_toggle > li:first-child > a span.x_sq .x_sq_c span:nth-child(5) {
  top: 35px;
  left: 23px;
}
ul.main_menu_toggle > li:first-child > a > span:nth-child(2) {
  top: 11px;
  left: 11px;
}
ul.main_menu_toggle > li:first-child > a > span:nth-child(3) {
  top: 11px;
  right: 11px;
}
ul.main_menu_toggle > li:first-child > a > span:nth-child(4) {
  bottom: 11px;
  left: 11px;
}
ul.main_menu_toggle > li:first-child > a > span:nth-child(5) {
  bottom: 11px;
  right: 11px;
}
@-webkit-keyframes quickfade {
  from {
    opacity: 0.6;
  }
  50% {
    opacity: 1;
  }
  to {
    opacity: 0.6;
  }
}
.is-desk ul.main_menu_toggle > li:first-child > a:hover > span:nth-child(2) {
  top: 6px;
  left: 6px;
  -moz-opacity: 0.3;
  -khtml-opacity: 0.3;
  -webkit-opacity: 0.3;
  opacity: 0.3;
  -webkit-animation-name: quickfade;
  -webkit-animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
  background: none;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 8px 8px 0 0;
  border-color: #fff transparent transparent transparent;
}
ul.main_menu_toggle > li:first-child > a.active > span:nth-child(2) {
  -webkit-animation-name: none;
  top: 4px;
  left: 4px;
  -moz-opacity: 0.3;
  -khtml-opacity: 0.3;
  -webkit-opacity: 0.3;
  opacity: 0.3;
  background: none;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 8px 8px 0 0;
  border-color: #fff transparent transparent transparent;
}
.is-desk ul.main_menu_toggle > li:first-child > a:hover > span:nth-child(3) {
  top: 6px;
  right: 6px;
  -moz-opacity: 0.3;
  -khtml-opacity: 0.3;
  -webkit-opacity: 0.3;
  opacity: 0.3;
  -webkit-animation-name: quickfade;
  -webkit-animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
  background: none;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 8px 8px 0;
  border-color: transparent #fff transparent transparent;
}
ul.main_menu_toggle > li:first-child > a.active > span:nth-child(3) {
  -webkit-animation-name: none;
  top: 4px;
  right: 4px;
  -moz-opacity: 0.3;
  -khtml-opacity: 0.3;
  -webkit-opacity: 0.3;
  opacity: 0.3;
  background: none;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 8px 8px 0;
  border-color: transparent #fff transparent transparent;
}
.is-desk ul.main_menu_toggle > li:first-child > a:hover > span:nth-child(4) {
  bottom: 6px;
  left: 6px;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
  filter: alpha(opacity=30);
  -moz-opacity: 0.3;
  -khtml-opacity: 0.3;
  opacity: 0.3;
  -webkit-animation-name: quickfade;
  -webkit-animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
  background: none;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 8px 0 0 8px;
  border-color: transparent transparent transparent #fff;
}
ul.main_menu_toggle > li:first-child > a.active > span:nth-child(4) {
  -webkit-animation-name: none;
  bottom: 4px;
  left: 4px;
  -moz-opacity: 0.3;
  -khtml-opacity: 0.3;
  -webkit-opacity: 0.3;
  opacity: 0.3;
  background: none;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 8px 0 0 8px;
  border-color: transparent transparent transparent #fff;
}
.is-desk ul.main_menu_toggle > li:first-child > a:hover > span:nth-child(5) {
  bottom: 6px;
  right: 6px;
  -moz-opacity: 0.3;
  -khtml-opacity: 0.3;
  -webkit-opacity: 0.3;
  opacity: 0.3;
  -webkit-animation-name: quickfade;
  -webkit-animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
  background: none;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 8px 8px;
  border-color: transparent transparent #fff transparent;
}
ul.main_menu_toggle > li:first-child > a.active > span:nth-child(5) {
  -webkit-animation-name: none;
  bottom: 4px;
  right: 4px;
  -moz-opacity: 0.3;
  -khtml-opacity: 0.3;
  -webkit-opacity: 0.3;
  opacity: 0.3;
  background: none;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 8px 8px;
  border-color: transparent transparent #fff transparent;
}
/*main menu*/
ul.main_menu {
  position: relative;
  display: block;
  float: left;
  width: 260px;
  padding-top: 64px;
  text-align: left;
  z-index: 3005;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -kthtml-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  margin-left: 0;
}
ul.main_menu li {
  float: left;
  width: 100%;
  clear: both;
  text-align: center;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -kthtml-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.window ul.main_menu {
  width: 260px;
  bottom: 0px;
}
.is-desk ul.main_menu > li:hover {
  width: 260px;
}
ul.main_menu > li > a {
  display: block;
  position: relative;
  height: 62px;
  width: 100%;
  float: left;
  text-align: left;
  line-height: 62px;
  text-decoration: none;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -kthtml-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
ul.main_menu > li > a::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: -18px;
  width: 1px;
  height: 100%;
  -webkit-transform-origin: 100% 0;
  -ms-transform-origin: 100% 0;
  transform-origin: 100% 0;
  -webkit-transform: skew(-15deg);
  -ms-transform: skew(-15deg);
  transform: skew(-15deg);
}
ul.main_menu > li > a:hover::before {
  width: 95%;
}
ul.main_menu > li > a:hover {
  background: rgba(48, 48, 60, 0.4);
}
@-webkit-keyframes menu_clickady {
  from {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(180deg);
  }
  to {
    transform: rotateY(0deg);
  }
}
.is-desk ul.main_menu > li > a:hover > span:first-child {
  -webkit-animation: menu_clickady 1s 1 linear;
  -webkit-animation-duration: 0.4s;
}
ul.main_menu > li > a.clickady > span:first-child {
  -webkit-animation: menu_clickady 1s 1 linear;
  -webkit-animation-duration: 0.4s;
}
ul.main_menu > li.clickady > a {
  background: #232323;
}
.games a {
  font-size: 32px;
}
.leagues a {
  font-size: 34px;
}
.tournaments a {
  font-size: 38px;
}
ul.main_menu > li > a span:nth-child(1) {
  float: left;
  height: 62px;
  color: #fff;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -kthtml-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.5);
  width: 66px;
  display: block;
  text-align: center;
  line-height: 62px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  position: relative;
}
ul.main_menu > li > a span:nth-child(2) {
  display: block;
  height: 62px;
  font-family: Roboto, sans-serif;
  font-weight: 300;
  font-size: 18px;
  color: #ccc;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 62px;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -kthtml-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  position: relative;
}
.is-desk ul.main_menu > li > a:hover span:nth-child(2) {
  top: 0;
  left: 0px;
}
ul.main_menu > li.games > a {
  color: #00CEFF;
}
ul.main_menu > li.leagues > a {
  color: #8FFF00;
}
ul.main_menu > li.tournaments > a {
  color: #F9FF00;
}
ul.main_menu > li.games > a span {
  color: #00CEFF;
}
ul.main_menu > li.leagues > a span {
  color: #8FFF00;
}
ul.main_menu > li.tournaments > a span {
  color: #F9FF00;
}
/*right menu standard*/
.menu_right {
  position: absolute;
  top: 0;
  right: 0;
  -webkit-transform: translateX(10px) translateY(0) translateZ(0);
  -ms-transform: translateX(10px) translateY(0) translateZ(0);
  transform: translateX(10px) translateY(0) translateZ(0);
  -moz-opacity: 0;
  -khtml-opacity: 0;
  -webkit-opacity: 0;
  opacity: 0;
  -webkit-transition: all 0.8s ease-out;
  -o-transition: all 0.8s ease-out;
  -moz-transition: all 0.8s ease-out;
  -ms-transition: all 0.8s ease-out;
  -kthtml-transition: all 0.8s ease-out;
  transition: all 0.8s ease-out;
  -webkit-transition-delay: 0.1s;
  -moz-transition-delay: 0.1s;
  -o-transition-delay: 0.1s;
  transition-delay: 0.1s;
}
.menu_right > li {
  padding-right: 10px;
}
.menu_right > li > a {
  display: block;
  float: left;
  height: 38px;
  line-height: 38px;
  padding: 0 6px;
  border: 1px solid rgba(255, 255, 255, 0.22);
  position: relative;
}
@-webkit-keyframes trim_glow {
  from {
    -webkit-box-shadow: 0 0 8px 0 rgba(255, 255, 255, 0), inset 0 0 8px 0 rgba(255, 255, 255, 0);
  }
  50% {
    -webkit-box-shadow: 0 0 8px 0 rgba(255, 255, 255, 0.3), inset 0 0 8px 0 rgba(255, 255, 255, 0.3);
  }
  100% {
    -webkit-box-shadow: 0 0 8px 0 rgba(255, 255, 255, 0), inset 0 0 8px 0 rgba(255, 255, 255, 0);
  }
}
.menu_right > li > a.glow:hover {
  -webkit-animation-name: trim_glow;
  -webkit-animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
  border: 1px solid rgba(255, 255, 255, 0.7);
}
.menu_right > li > a:hover:before {
  background-color: #23232c;
}
.menu_right > li:last-child > a:before {
  border-right: none;
}
.menu_right > li > a > span {
  position: relative;
}
.menu_right > li > a > span.menu_item_content {
  display: block;
  float: left;
  height: 38px;
  line-height: 38px;
  padding: 0 20px 0 20px;
  position: relative;
}
.menu_right > li > a.user_name > span.menu_item_content {
  padding: 0 0 0 60px;
}
.menu_right > li > a > span.menu_item_content > span {
  display: block;
  float: left;
  height: 38px;
}
.menu_right > li > a > span > span.menu_item_txt {
  height: 38px;
  line-height: 38px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  white-space: nowrap;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: #c8c8da;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -kthtml-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  padding-left: 20px;
  text-transform: uppercase;
}
.menu_right > li > a:hover > span > span.menu_item_txt {
  color: #fff;
}
.menu_right > li > a:hover > span > span.menu_item_txt > span {
  color: #000;
}
.menu_right > li > a > span > span.menu_item_icon {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 38px;
  height: 38px;
}
.menu_right > li > a > span > span.menu_item_icon > span {
  display: block;
  position: relative;
  width: 38px;
  height: 38px;
}
/*sign up*/
.menu_right > li > a.sign_up > span > span.menu_item_icon > span:before {
  content: "";
  position: absolute;
  top: 17px;
  left: 15px;
  width: 11px;
  height: 1px;
  background: #c8c8da;
  -webkit-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  -ms-transition: all 0.4s ease-out;
  -kthtml-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}
.menu_right > li > a.sign_up > span > span.menu_item_icon > span:after {
  content: "";
  position: absolute;
  top: 12px;
  left: 20px;
  width: 1px;
  height: 11px;
  background: #c8c8da;
  -webkit-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -kthtml-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.menu_right > li > a.sign_up:hover > span > span.menu_item_icon > span:before {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
.menu_right > li > a.sign_up:hover > span > span.menu_item_icon > span:after {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
/*log in*/
.menu_right > li > a.log_in > span > span.menu_item_icon > span:before {
  content: "";
  position: absolute;
  top: 15px;
  left: 15px;
  width: 8px;
  height: 8px;
  border-right: 1px solid #878794;
  border-top: 1px solid #878794;
  -webkit-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -kthtml-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.menu_right > li > a.log_in > span > span.menu_item_icon > span:after {
  content: "";
  position: absolute;
  top: 12px;
  left: 18px;
  width: 8px;
  height: 8px;
  border-right: 1px solid #c8c8da;
  border-top: 1px solid #c8c8da;
  -webkit-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -kthtml-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.menu_right > li > a.log_in:hover > span > span.menu_item_icon > span:before {
  -webkit-transition-delay: 0.2s;
  -moz-transition-delay: 0.2s;
  -o-transition-delay: 0.2s;
  transition-delay: 0.2s;
  -webkit-transform: translateX(-3px) translateY(3px) translateZ(0);
  -ms-transform: translateX(-3px) translateY(3px) translateZ(0);
  transform: translateX(-3px) translateY(3px) translateZ(0);
}
.menu_right > li > a.log_in > span > span.menu_item_icon > span span {
  position: absolute;
  top: 12px;
  left: 18px;
  width: 8px;
  height: 8px;
  border-right: 1px solid #adadbb;
  border-top: 1px solid #adadbb;
  -webkit-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -kthtml-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.menu_right > li > a:hover.log_in > span > span.menu_item_icon > span span {
  -webkit-transform: translateX(-3px) translateY(3px) translateZ(0);
  -ms-transform: translateX(-3px) translateY(3px) translateZ(0);
  transform: translateX(-3px) translateY(3px) translateZ(0);
}
.menu_right > li > a > span > span.menu_item_icon > span {
  color: #c8c8da;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -kthtml-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.menu_right > li > a:hover > span > span.menu_item_icon > span {
  color: #fff;
}
/*specific menu item overides*/
.menu_right > li > a.sign_up > span > span.menu_item_icon > span {
  color: #ed5124;
}
/*menu lgd in*/
.menu_right.menu_lgd_in > li > a {
  padding: 0 12px;
}
.menu_right.menu_lgd_in > li > a.selected {
  background: rgba(0, 0, 0, 0.3);
}
.menu_right.menu_lgd_in > li > a:after {
  content: "";
  position: absolute;
  bottom: 0;
  height: 1px;
  left: 0;
  width: 100%;
  background: rgba(237, 81, 36, 0);
  -webkit-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -kthtml-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.menu_right.menu_lgd_in > li > a:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0%;
  height: 64px;
  width: 100%;
  background: rgba(0, 0, 0, 0);
  -webkit-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -kthtml-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.menu_right.menu_lgd_in > li > a:hover:before {
  background: rgba(0, 0, 0, 0.15);
}
.menu_right.menu_lgd_in > li {
  padding-right: 0;
}
.menu_right.menu_lgd_in > li > a {
  border: 0;
  height: 64px;
  line-height: 64px;
  margin-top: 0px;
}
.menu_right.menu_lgd_in > li > a > span.menu_item_content,
.menu_right.menu_lgd_in > li > a > span > span.menu_item_icon,
.menu_right.menu_lgd_in > li > a > span > span.menu_item_icon span {
  height: 64px;
  line-height: 64px;
}
.menu_right.menu_lgd_in > li > a > span.menu_item_content {
  padding: 0;
}
.menu_right.menu_lgd_in > li > a > span > span.menu_item_icon {
  font-size: 33px;
}
/*user photo menu*/
.menu_right.menu_lgd_in > li > a.user_name {
  padding: 0 60px 0 15px;
}
.menu_right.menu_lgd_in > li > a.user_name > span.menu_item_content {
  padding-left: 42px;
}
.menu_right > li > a.user_name > span > span.user_icon {
  position: absolute;
  top: 15px;
  left: 0;
  width: 34px;
  height: 34px;
  line-height: 34px;
  text-align: center;
  font-family: Roboto, sans-serif;
  font-weight: 300;
  font-size: 14px;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  float: none;
  display: block;
  z-index: 3;
}
.menu_right > li > a.user_name > span > span.user_icon:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 34px;
  height: 34px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0);
}
.menu_right > li > a.notifications:after {
  content: "";
  position: absolute;
  top: 20px;
  left: auto;
  right: 0;
  width: 1px;
  height: 24px;
  background-color: rgba(255, 255, 255, 0.1);
}
.menu_right > li > a.user_name > span > span.user_icon img {
  will-change: transform;
  display: block;
  width: 34px;
  height: 34px;
  -webkit-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -kthtml-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  overflow: hidden;
}
.menu_right > li > a > span.menu_item_content > span.user_name {
  height: 16px;
  line-height: 16px;
  clear: both;
  font-size: 14px;
  padding-top: 2px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  color: rgba(255, 255, 255, 0.7);
  -webkit-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -kthtml-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.menu_right > li > a:hover > span.menu_item_content > span.user_name {
  color: #fff;
  color: #ffffff;
}
.menu_right > li > a > span.menu_item_content > span.user_status {
  height: 10px;
  line-height: 10px;
  clear: both;
  font-size: 10px;
  margin-top: 18px;
  color: #edcd24;
  text-transform: uppercase;
  font-weight: 700;
  -webkit-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -kthtml-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  text-shadow: 0px 0px 6px rgba(237, 205, 36, 0);
}
.menu_right > li > a:hover > span.menu_item_content > span.user_status {
  text-shadow: 0px 0px 6px rgba(237, 205, 36, 0.6);
}
/*notification*/
.menu_right > li > a.notifications > span.menu_item_content > span.menu_item_value {
  position: absolute;
  top: 15px;
  left: 19px;
  display: block;
  float: none;
  width: 18px;
  line-height: 18px;
  height: 18px;
  background: #ccc;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background: #ed5124;
  text-align: center;
  font-family: Roboto, sans-serif;
  font-weight: 300;
  font-size: 10px;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.menu_right.menu_lgd_in > li > a.notifications > span.menu_item_content {
  width: 40px;
}
/*response*/
/* response */
